#main {
  background-color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.small-text {
  text-align: center;
  margin-top: -8px;
  font-style: italic;
  font-size: 17px;
}

img {
 height: 400px;
 width: 85%;
 padding: 10px;
}

#img-div {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 0 20px;
  padding: 25px;
  flex-direction: column;

}
#image {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  height: auto;
}

figcaption {
  font-size: 20px;
  text-align: center;
  margin-top: -4px;
}

.unordered-list {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

ul li {
  margin-bottom: 10px;
  font-size: 18px;
  width: 70%;
}

.helper {
  font-size: 20px;
  font-style: italic;
  padding:0 70px;
}

#tribute-link {
  text-decoration: none;
}